<!DOCTYPE html>
<html>
<head>
  <title>BantuDESA</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />



  <link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" />
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/timeline.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/assets/css/style-home.css" />
  <link rel="stylesheet" href="/assets/css/style-index.css" />
  <link rel="stylesheet" href="/assets/plugin/sweetalert2/sweetalert2.css" />
  <link rel="stylesheet" href="/assets/plugin/backtop/backtop.css" />


</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">BantuDESA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/sayembara">Sayembara Ide</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="/profildesa">Profil Desa</a>
          </li>
           -->
          <li class="nav-item">
            <a class="nav-link" href="/artikel">Artikel</a>
          </li>
        </ul>
        <!--
        {{#if success_msg}}
          <ul class="navbar-nav mr-auto">
            <div class="alert alert-success">{{success_msg}}</div>
          </ul>
        {{/if}}
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
        {{#if user}}
          <ul class="navbar-nav ml-5 mr-2">
            {{#ifCond user.usercode '==' 0}}
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profil">Admin</a>
              </li>
            {{/ifCond}}

            {{#ifCond user.usercode '==' 2}}
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profil">{{user.username}}</a>
              </li>
            {{/ifCond}}

            {{#ifCond user.usercode '==' 1}}
              <li class="nav-item">
                <a class="nav-link" href="/profil">{{user.username}}</a>
              </li>
            {{/ifCond}}
            <li class="nav-item">
              <a class="nav-link" href="/login/logout">Logout</a>
            </li>
          </ul>
        {{else}}
          <ul class="navbar-nav ml-5 mr-2">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login/register">Register</a>
            </li>
          </ul>
        {{/if}}
      </div>
    </nav>
  </header>

  <main role="main">

    {{{body}}}

  </main>
  <script type="text/javascript" src='/bower_components/jquery/dist/jquery.js'></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript">
    $(document).ready (function(){
      window.setTimeout(function () {
        $("#success-alert").alert('close'); }, 2000);
      });
  </script>
  <script src='/assets/js/bootbox.min.js'></script>
  {{#if success_msg}}
    <script>
      $(document).ready (function() {
          // bootbox.alert('You are logged out');
          swal({
            // position: 'top-end',
            type: 'success',
            title: 'Logged out',
            // text: 'Logged out',
            showConfirmButton: false,
            timer: 1500
          })
      });
    </script>
  {{/if}}

  {{#if success_join}}
    <script>
      $(document).ready (function() {
          // bootbox.alert('Succesfully join the Sayembara! Please wait until the Event finished.');
          swal({
            // position: 'top-end',
            type: 'success',
            title: 'Succesfully join the Sayembara! Please wait until the Event finished.',
            showConfirmButton: true,
            // timer: 3000
          })
      });
    </script>
  {{/if}}

  {{#ifCond error_msg '==' "dashboard"}}
    <script>
      $(document).ready (function() {
          // bootbox.alert("You don't have the permission to enter");
          swal({
            type: 'error',
            title: 'Oops!',
            text: "You don't have the permission to enter!",
          })
      });
    </script>
  {{/ifCond}}

  {{#ifCond error_msg '==' "profil"}}
    <script>
      $(document).ready (function() {
          bootbox.alert("Please login first to see this page!");
      });
    </script>
  {{/ifCond}}

  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script src="/assets/js/sayembara.js"></script>
  <script src="/assets/js/timeline.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/plugin/sweetalert2/sweetalert2.js"></script>
  <script src="/assets/plugin/backtop/backtop.js"></script>

  <script type="text/javascript">
        AOS.init({
            duration: 1200,
        })
        $("#selengkapnya").click(function () {
            $('html, body').animate({
                scrollTop: $("#acara").offset().top
            }, 1000);
        });
  </script>

<!-- Footer -->
  <footer class="app-footer is-footer-sayembara">
    <div class="container">
        <div class="content has-text-centered has-text-white">
            <img class="imager" src="https://www.freelogodesign.org/img/logo-ex-7.png" alt="">
            <br>
            <p>
                Departemen Ilmu Komputer
                <br> Fakultas Matematika dan Ilmu Pengetahuan Alam
                <br> Jalan Meranti, IPB
                <br> BantuDESA
            </p>
            <p>
                <a class="has-text-white" href="#" class="">
                    <i class="fa fa-instagram"></i>
                </a>
                <a class="has-text-white" href="#" class="">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="has-text-white" href="#" class="">
                    <i class="fa fa-facebook"></i>
                </a>
            </p>
        </div>
        <div class="footer-bottom has-text-centered has-text-white">
            <p>
                <a class="has-text-white" href="/profildesa">Profil desa</a> •
                <a class="has-text-white" href="/sayembara">Sayembara Ide</a> •
                <a class="has-text-white" href="/artikel">Artikel</a>
            </p>
            <p>© 2018 BantuDESA</p>
        </div>
    </div>
</footer>

</body>

<button onclick="topFunction()" id="myBtn" title="Go to top" >Top</button>


</html>
