<!DOCTYPE html>
<html class="no-js" lang="en">
{{!-- <link rel="stylesheet" href="/assets/css/lingkaran.css"> --}}
<body>


    <!-- Main -->

    <main class="app-content-sayembara" >
        <!-- Intro -->
        <section class="hero is-fullheight is-intro-sayembara" style="padding-top: 60px;">
            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered is-reverse-mobile">
                        <div class="column has-text-left" data-aos="fade-right" data-aos-duration="1800">
                            <h1 class="title has-text-white is-size-1">
                                BantuDESA :
                                <br>
                                Sayembara Ide
                            </h1>
                            <p class="has-text-white">
                                Sayembara ide merupakan salah satu kegiatan BantuDESA
                                yang sedang diselenggarakan
                            </p>
                            <br>
                            <a class="button is-white is-rounded" id="selengkapnya">Ikuti sayembara membangun desa</a>
                        </div>
                        <div class="column is-4">
                            <img src="/assets/img/sayambaraputih.png" alt="" data-aos="fade-up" data-aos-duration="1800">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="clipping-top"></div> -->
        <!-- acara -->
        <section class="hero is-medium is-acara">
            <div class="hero-body">
                <div class="container" data-aos="fade-down" data-aos-duration="1800">
                    <h1 class="title has-text-centered has-text-success" id="acara">Daftar Sayembara</h1>
                    <br>
                    {{#each sayembaras as |sayembara|}}
                    {{#ifCond @index '%=0' 2}}
                    <div class="row mb-2">
                        <div class="col-md-6">

                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="half-circle" style="background-image: url(/uploads/img/logos/{{#ifCond sayembara.[topik] '==' 'Infrastruktur'}}INFRABULungu.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pakan'}}PAKANBULoren.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pangan'}}PANGANBULbiru.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pariwisata'}}PARIBULpink.png{{/ifCond}})"></div>
                            <div class="card-bodyyy d-flex flex-column align-items-start hard">
                            {{!-- <strong class="d-inline-block mb-2 text-primary">{{sayembara.[topik]}}</strong> --}}
                            <strong class="d-inline-block mb-2 text-primary">Ini topik sayembara</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="/sayembara/{{sayembara.id}}">{{sayembara.[judul_sayembara]}}</a>
                            </h3>
                            {{!-- <div class="mb-1 text-muted">Nov 12(X)</div> --}}
                            <div class="mb-1 text-muted">Tanggal mulai - Tanggal berakhir</div>
                            {{!-- <p class="card-text mb-auto">{{sayembara.[deskripsi_singkat]}}</p> --}}
                            <p class="card-text mb-auto">{{substr 'Ini adalah deskripsi singkat dummy ya pokoknya dummy, jadi edit ini ya di head-sayembara ahahahah ahahahaha hehehehehe ganti pokoknya ya ahahahahaha' 100}}</p>
                            <a href="/sayembara/{{sayembara.id}}">Continue reading</a>
                            </div>
                            {{!-- <img class="card-img-right flex-auto d-none d-lg-block" data-src="{{sayembara.[foto]}}" alt="{{sayembara.[judul_sayembara]}}"> --}}
                            <div class="card-body d-flex">
                            <img class="card-img-right flex-auto d-none d-lg-block image is-64x64 alignright" src="/assets/img/{{#ifCond sayembara.[topik] '==' 'Infrastruktur'}}INFRABULungu.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pakan'}}PAKANBULoren.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pangan'}}PANGANBULbiru.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pariwisata'}}PARIBULpink.png{{/ifCond}}" alt="">
                            <img class="card-img-right flex-auto d-none d-lg-block image is-64x64 alignright" src="/assets/img/hourglass.png" alt="">
                            </div>
                        </div>
                        </div>
                    {{/ifCond}}

                    {{#ifCond @index '%!=0' 2}}
                        <div class="col-md-6">
                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class= "half-circle"  style="background-image: url('../public/assets/img/{{#ifCond sayembara.[topik] '==' 'Infrastruktur'}}INFRABULungu.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pakan'}}PAKANBULoren.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pangan'}}PANGANBULbiru.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pariwisata'}}PARIBULpink.png{{/ifCond}}');"></div>
                            <div class="card-bodyyy d-flex flex-column align-items-start hard">
                            {{!-- <strong class="d-inline-block mb-2 text-success">{{sayembara.[topik]}}</strong> --}}
                            <strong class="d-inline-block mb-2 text-primary">Ini topik sayembara</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="/sayembara/{{sayembara.id}}">{{sayembara.[judul_sayembara]}}</a>
                            </h3>
                            {{!-- <div class="mb-1 text-muted">Nov 11(X)</div> --}}
                            <div class="mb-1 text-muted">Tanggal mulai - Tanggal berakhir</div>
                            {{!-- <p class="card-text mb-auto">{{sayembara.[deskripsi_singkat]}}</p> --}}
                            <p class="card-text mb-auto">{{substr 'Ini adalah deskripsi singkat dummy ya pokoknya dummy, jadi edit ini ya di head-sayembara ahahahah ahahahaha hehehehehe ganti pokoknya ya ahahahahaha' 100}} </p>
                            <a href="/sayembara/{{sayembara.id}}">Continue reading</a>
                            </div>
                            {{!-- <img class="card-img-right flex-auto d-none d-lg-block" data-src="{{sayembara.[foto]}}" alt="{{sayembara.[judul_sayembara]}}"> --}}
                            <div class="card-bodyy d-flex">
                            <img class="card-img-right flex-auto d-none d-lg-block image is-64x64 alignright" src="/assets/img/{{#ifCond sayembara.[topik] '==' 'Infrastruktur'}}INFRABULungu.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pakan'}}PAKANBULoren.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pangan'}}PANGANBULbiru.png{{/ifCond}}{{#ifCond sayembara.[topik] '==' 'Pariwisata'}}PARIBULpink.png{{/ifCond}}" alt="">
                            <img class="card-img-right flex-auto d-none d-lg-block image is-64x64 alignright" src="/assets/img/hourglass.png" alt="">
                            </div>
                            </div>
                        </div>
                    </div>
                    {{/ifCond}}
                {{/each}}
                </div>
            </div>
        </section>
    </main>

</body>

</html>
