<!DOCTYPE html>
<html class="no-js" lang="en">

  <link rel="stylesheet" href="/assets/css/tether/tether.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/css/dropdown/style.css">
  <link rel="stylesheet" href="/assets/css/theme/style.css">
  <link rel="stylesheet" href="/assets/css/theme/mbr-additional.css">
  <style type="text/css">
  #paragraf {
      white-space: pre-wrap;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<section class="mbr-section content5 cid-qv5ziUg3gf mbr-parallax-background"> <!-- Ganti foto di mbr-additional.css, Search "cid-qv5ziUg3gf" -->
    <div class="row">
        <div class="columns" style ="margin-top: 0px; margin-left: 10px; margin-right: 5px;">
        <div class="column is-9" data-aos="fade-in" data-aos-duration="1800">
            <div class="container" style="min-width: 1000px; background-color: white; border-radius: 10px ; padding-left: 20px; ">
            <header>
                <br>
                <h1 class="title-site">{{sayembara.judul_sayembara}}</h1>
            </header>
            <article class="posts">
                <div class="meta-post">
                    <span><em class="glyphicon glyphicon-user"></em> {{user.name}}</span>
                    <span><em class="glyphicon glyphicon-time"></em> - {{sayembara.tanggal_buat}}</span>
                </div>
                    <p>
                    <div class="content" style="color: rgb(0,0,0);">
                        <p>{{sayembara.isi_sayembara}}</p>
                        <p>Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa  </p>
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        Hanyalah padamu hehehe pokoknya 
                        ini cuma dummy semata karena tidak akan ada yang
                        mengetahuinya meski sebenarnya kita ketahui bahwa
                        <p>Requirement</p><br>
                    </div>
            </article>
            </div>
        </div>

        {{!-- Jangan dihapus! --}}
        <div class="column is-3" data-aos="fade-in" data-aos-duration="1800">
            <br>
            <div class="container" style=" min-width: 325px;background-color: white; border-radius: 10px; margin-top: -25px; margin-bottom: -10px; margin-left: -10px;">
            <br>

            <h4 class= "has-text-centered" id="ide" >Kamu punya ide yang menarik?</h4>
            <h4 class= "has-text-centered" id="ide1" style="display:none;" >Silakan upload proposalmu.</h4><br>
            <br>
            <center><a class="button is-success is-rounded has-text-white" id="daftar">Daftar di sini!</a></center>
            <center><a class="button is-danger is-rounded has-text-white" id="daftar1" style="display : none;">Batalkan</a></center>
            <br>

            {{!--  --}}
            <div id="join" style ="display: none;">
            
            <form method="post" action="/sayembara/{{sayembara.id}}" enctype="multipart/form-data">
                <label>Tambahkan Ide</label><br>
                <div class="form-group">
                    <label>Subtopik :</label>
                    <input type="text" class="form-control" name="subtopik" placeholder="Isi Subtopik">
                </div>
                <div class="form-group">
                    <input type="file" name="file">
                </div>
                <button type="submit" class="button is-success has-text-white">Submit</button>
            </form>
            <br>
            </div>
            {{!--  --}}


            </div>
            <br> <br>
            <div class="container" style=" min-width: 325px;background-color: white; border-radius: 10px; margin-top: -25px; margin-left: -10px;">
            <br>
            <center><img class="image is-64x72" src="/assets/img/village.png" alt=""><hr></center>
            <form method="post" action="/sayembara/{{sayembara.id}}" enctype="multipart/form-data">
                <h6>Nama desa : *****</h6>
                <h6>Detail desa :</h6>
                <li>Kepala desa : *****</li>
                <li>Lokasi desa : *****</li>
                <li>No.telp desa : *****</li>
                
            </form>
            <br>
            </div>
        </div>
        </div>
    </div>
</section>

<script>
$(document).ready(function(){
    $("#daftar").click(function(){
        $("#daftar").hide();
        $("#daftar1").fadeIn("fast");
        $("#join").slideDown("slow");
        $("#ide").hide();
        $("#ide1").fadeIn();
    });
    $("#daftar1").click(function(){
        $("#daftar1").hide();
        $("#daftar").fadeIn("fast");
        $("#join").hide("slow");
        $("#ide1").hide();
        $("#ide").fadeIn();
    });
});
</script>


</html>